<div class="main">

    <input type="text" placeholder="Enter your task description" ng-model="taskDescription" ng-enter="addTask(taskDescription)" autofocus>

    <header></header>

    <section class="card">
        <h1><strong>Summary</strong></h1>
        <h2>
            Total amount of time: {{ totalTimeSpent() | formattedSeconds }}
        </h2>
    </section>

    <task task="task" ng-repeat="task in tasks | filter:taskDescription track by task.id"></task>

    <section class="card" ng-if="tasks.length === 0">
        <p>
            There are no tasks so far. You may want to add some.
        </p>
    </section>

</div>