<div class="col-md-12">

    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" placeholder="Enter your task description" ng-model="taskDescription" ng-enter="addTask(taskDescription)" />
        </div>
    </div>

    <div class="row col-xs-12">
        <p>
            <strong>Total amount of time: {{ totalTimeSpent() | formattedSeconds }}</strong>
        </p>
    </div>

    <hr style="clear:both"/>

    <div class="row" ng-repeat="task in tasks | filter:taskDescription">
        <task task="task"></task>
    </div>
    <div class="row" ng-if="tasks.length === 0">
        <p class="col-xs-12">
            There are no tasks so far. Try adding some!
        </p>
    </div>

</div>