<section class="card">
    <button class="btn btn-default pull-right" ng-click="deleteTask(taskItem)"><i class="fa fa-times"></i></button>

    <button class="btn btn-default pull-right" ng-if="taskItem.isPlaying===false" ng-click="play(taskItem)">
        <i class="fa fa-play"></i>
    </button>
    <button class="btn btn-default pull-right" ng-if="taskItem.isPlaying==true" ng-click="stop(taskItem)">
        <i class="fa fa-stop"></i>
    </button>

    <button class="btn btn-default pull-right" ng-click="addInterruption(taskItem)">
        {{ taskItem.interruptions }} <i class="fa fa-bolt"></i>
    </button>

    <h1>{{ taskItem.title }}</h1>
    <h2>
        <strong>
        <time>
            {{ taskItem.timeSpent | formattedSeconds }}
        </time>
        </strong>
    </h2>
</section>