<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-2">
                <button class="btn btn-default" ng-if="taskItem.isPlaying===false" ng-click="play(taskItem)">
                    <i class="fa fa-play"></i>
                </button>
                <button class="btn btn-default" ng-if="taskItem.isPlaying==true" ng-click="stop(taskItem)">
                    <i class="fa fa-stop"></i>
                </button>
            </div>
            <div class="col-xs-6">
                <strong>{{ taskItem.title }}</strong>
            </div>
            <div class="col-xs-4">
                <time>
                    {{ taskItem.timeSpent | formattedSeconds }}
                </time>

                <span class="pull-right" ng-click="deleteTask(taskItem)"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
</div>